@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="jumbotron"><h2>Homepage</h2></div>

<ul class="list-unstyled">
    @foreach (var cat in Model.Cats)
            {
                <li>
        <div class="row">
             <div class="col-sm-12">
                <h2>
                     @cat.Name 
                     <small>
                        @cat.Breed
                        <span class="pull-right">DKK @cat.Price</span>
                    </small>
                </h2>
             </div>
             <div class="clearfix"></div>
            <div class="col-sm-4">
                <img src="http://via.placeholder.com/250x150">
            </div>
            <div class="col-sm-8">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <td>@cat.Name</td>
                    </tr>
                    <tr>
                        <th>Sex</th>
                        <td>@cat.Sex</td>
                    </tr>
                    <tr>
                        <th>Breed</th>
                        <td>@cat.Breed</td>
                    </tr>
                    <tr>
                        <th>Birthdate</th>
                        <td>@cat.Birthdate.ToString("dd/MM/yyyy")</td>
                    </tr>
                    <tr>
                        <th>Weight</th>
                        <td>@cat.Weight</td>
                    </tr>
                    <tr>
                        <th>Color</th>
                        <td>@cat.Color</td>
                    </tr>
                </table>
                <a class="btn btn-primary pull-right">Edit</a>
                <a asp-page="./Index" onclick="return confirm('Are you sure you want to delete this item?');" asp-page-handler="Delete" asp-route-id="@cat.ID" class="btn btn-danger pull-right">Remove</a>
                <a class="btn btn-success pull-right">Order</a>
            </div>
        </div>
    </li>
            }
</ul>