@page
@model StoreModel
@{
    ViewData["Title"] = "Store";
}
<h2>@ViewData["Title"]</h2>


<ul class="list-unstyled">
    @foreach (var cat in Model.Cats)
            {
                <li>
        <div class="row">
             <div class="col-sm-12">
                <h2>
                     @cat.Name 
                     <small>
                        @cat.Breed
                        <span class="pull-right">DKK @cat.Price</span>
                    </small>
                </h2>
             </div>
             <div class="clearfix"></div>
            <div class="col-sm-4">
                <img src=@cat.Picture width="200" height="100">
                
            </div>
            <div class="col-sm-8">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <td>@cat.Name</td>
                    </tr>
                    <tr>
                        <th>Sex</th>
                        <td>@cat.Sex</td>
                    </tr>
                    <tr>
                        <th>Breed</th>
                        <td>@cat.Breed</td>
                    </tr>
                    <tr>
                        <th>Birthdate</th>
                        <td>@cat.Birthdate.ToString("dd/MM/yyyy")</td>
                    </tr>
                    <tr>
                        <th>Weight</th>
                        <td>@cat.Weight</td>
                    </tr>
                    <tr>
                        <th>Color</th>
                        <td>@cat.Color</td>
                    </tr>
                </table>
            </div>
        </div>
    </li>
            }
</ul>
