@page
@model StoreModel
@{
    ViewData["Title"] = "Store";
}
<h2>@ViewData["Title"]</h2>


<ul class="list-unstyled">
    <form method="post">
    @foreach (var cat in Model.Cats)
    {
        <li>
        <div class="row">
             <div class="col-sm-12">
                <h2>
                     @cat.Name 
                     <small>
                        @cat.Breed
                        <span class="pull-right">DKK @cat.Price</span>
                    </small>
                </h2>
             </div>
             <div class="clearfix"></div>
            <div class="col-sm-4">
                <img src="http://via.placeholder.com/250x150">
            </div>
            <div class="col-sm-8">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <td>@cat.Name</td>
                    </tr>
                    <tr>
                        <th>Sex</th>
                        <td>@cat.Sex</td>
                    </tr>
                    <tr>
                        <th>Breed</th>
                        <td>@cat.Breed</td>
                    </tr>
                    <tr>
                        <th>Birthdate</th>
                        <td>@cat.Birthdate.ToString("dd/MM/yyyy")</td>
                    </tr>
                    <tr>
                        <th>Weight</th>
                        <td>@cat.Weight</td>
                    </tr>
                    <tr>
                        <th>Color</th>
                        <td>@cat.Color</td>
                    </tr>
                </table>

                <div class="checkbox">
                    <label><input type="checkbox" -value="@cat.ID" asp-for="Input.Items[cat.ID]" />Add To Card</label>
                </div>
            </div>
        </div>
        </li>
    }


            
                    <legend>Order</legend>

                    <div asp-validation-summary="All"></div>

                    <div class="form-group">
                        <label>Name</label>
                        <input asp-for="Input.Name" type="text" class="form-control" placeholder="Full Name">
                    </div>

                    <div class="form-group">
                        <label>Address</label>
                        <input asp-for="Input.Address" type="text" class="form-control" placeholder="Address">
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
            </form>
</ul>
